.jumbotron {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 3px 3px 5px white;
  color: black;
  font-family: cursive;
  margin: 15px;
  border-style: double;
  background-image: url(https://bit.ly/3dVmm0E);
  background-position: center;
  background-size: 685px 350px;
}

.well {
  border-style: dotted;
  border-color: black;
  background-color: lightgray;
}

#output {
  font-weight: 800;
  font-size: large;
}

h2 {
  text-align: center;
}